.gradle
/local.properties
.DS_Store
build
/captures
/.idea/*
!.idea/codeStyles
!.idea/dictionaries
!.idea/inspectionProfiles
!.idea/vcs.xml
*.iml
.externalNativeBuild
.cxx

# Xcode
xcuserdata/
*.xccheckout
*.xcuserstate